# This is a shared development config extended by all ploneintranet.* eggs
[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-4.x.cfg
    https://raw.github.com/plone/plone.app.robotframework/master/versions.cfg

package-name = ploneintranet.suite
package-extras = [test]
versions = versions

parts +=
    omelette
    scripts
    robot
    flake8
    createcoverage
    coverage-report
    generate-docs

[instance]
environment-vars +=
# When you add tasks, inset the module name here and undcomment the line
#    CELERY_IMPORTS ('mypackage.tasks.tasks',)
    BROKER_URL sqla+sqlite:///${buildout:directory}/var/celerydb.sqlite?timeout=30
    CELERY_RESULT_BACKEND db+sqlite:///${buildout:directory}/var/celeryresults.sqlite?timeout=30

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[scripts]
recipe = z3c.recipe.scripts
dependent-scripts = true
interpreter = zopepy
eggs = ${buildout:package-name} [test,develop]

[robot]
recipe = zc.recipe.egg
eggs =
    Pillow
    ${test:eggs}
    plone.app.robotframework[ride,reload]

[flake8]
recipe = zc.recipe.egg
eggs = flake8
       ${instance:eggs}
entry-points =
    flake8=flake8.run:main

[createcoverage]
recipe = zc.recipe.egg
eggs = createcoverage

[sphinx]
recipe = zc.recipe.egg
eggs = 
    Sphinx
    sphinx.themes.plone
    sphinxcontrib-spelling
    pyenchant
#    ctypes # this bugger not being available was the cause of pyenchant not being installable. Unfortunately it doesn't install on macos.

initialization =
    # This enables po -> mo -compilation
    import os; os.environ['zope_i18n_compile_mo_files'] = 'true'
scripts =
    sphinx-build=sphinx-build

[generate-docs]
recipe = collective.recipe.template
input = inline:
   #!/bin/bash
   ${buildout:bin-directory}/sphinx-apidoc -o docs/api src/ploneintranet
   ${buildout:bin-directory}/sphinx-build docs docs/html
mode = 755
output = ${buildout:bin-directory}/generate-docs

[coverage-report]
recipe = collective.recipe.template
input = inline:
   #!/bin/bash
   ${buildout:bin-directory}/createcoverage ${buildout:bin-directory}/test
mode = 755
output = ${buildout:bin-directory}/coverage-report

[sources]
github_clone = https://github.com
github_push = git@github.com

# shared sources config for all ploneintranet.* eggs
collective.celery = git ${:github_clone}/collective/collective.celery.git branch=ploneintranet-async-improvements push_url=${:github_push}:collective/collective.celery
ploneintranet.workspace = git ${:github_clone}/ploneintranet/ploneintranet.workspace.git push_url=${:github_push}:ploneintranet/ploneintranet.workspace
ploneintranet.documentviewer = git ${:github_clone}/ploneintranet/ploneintranet.documentviewer.git push_url=${:github_push}:ploneintranet/ploneintranet.documentviewer
ploneintranet.invitations = git ${:github_clone}/ploneintranet/ploneintranet.invitations.git push_url=${:github_push}:ploneintranet/ploneintranet.invitations
ploneintranet.simplesharing = git ${:github_clone}/ploneintranet/ploneintranet.simplesharing.git push_url=${:github_push}:ploneintranet/ploneintranet.simplesharing
ploneintranet.theme = git ${:github_clone}/ploneintranet/ploneintranet.theme.git push_url=${:github_push}:ploneintranet/ploneintranet.theme
ploneintranet.docconv.client = git ${:github_clone}/ploneintranet/ploneintranet.docconv.client.git push_url=${:github_push}:ploneintranet/ploneintranet.docconv.client
ploneintranet.attachments = git ${:github_clone}/ploneintranet/ploneintranet.attachments.git push_url=${:github_push}:ploneintranet/ploneintranet.attachments
plonesocial.microblog = git ${:github_clone}/cosent/plonesocial.microblog.git push_url=${:github_push}:cosent/plonesocial.microblog
plonesocial.activitystream = git ${:github_clone}/cosent/plonesocial.activitystream.git push_url=${:github_push}:cosent/plonesocial.activitystream
plonesocial.network = git ${:github_clone}/cosent/plonesocial.network.git push_url=${:github_push}:cosent/plonesocial.network
plonesocial.messaging = git ${:github_clone}/cosent/plonesocial.messaging.git push_url=${:github_push}:cosent/plonesocial.messaging
plonesocial.core = git ${:github_clone}/cosent/plonesocial.core.git push_url=${:github_push}:cosent/plonesocial.core
sphinx.themes.plone = git ${:github_clone}/plone/sphinx.themes.plone.git

[versions]
plone.app.testing=4.2.2
setuptools = 0.6c11
zc.buildout = 1.6.3
z3c.recipe.egg = 1.3.2
zc.queue = 1.1
Sphinx = 1.2.1
six = 1.8.0
